<h2>You are logged in <%= current_user.username %>!</h2>

<% if !current_user.games.empty? %>

<h3>Here is your list !!</h3>

  <% current_user.games.each do |game| %>
    <p><%= game.id %>. Game Name: <strong>"<%= game.name %>"</strong> | Game Genre: <strong>"<%= game.genre %>"</strong> | Reason why you love this game: <strong>"<%= game.reason %>"</strong></p>
  <% end %>
  <p><a href="/new">Add</a> a game to your list.</p>
  <p><a href="../games/delete">Delete</a> a game from your list.</p>
  <p><a href="../games/edit">Edit</a> your games list.</p>
<% else %>

<h3>Oops, looks like you dont have any games. Why don't you add some?</h3>
  <p><a href="/new">Start</a> a list, add your first game.</p>
<% end %>