
<p>Hello World, this is the game page for <strong><%= @game.name %></strong></p>

<p><strong><%= current_user.username %></strong> thinks that <strong><%= @game.name %></strong> belongs in the <strong><%= @game.genre %></strong> genre.</p>

<p><strong><%= current_user.username %></strong>'s reason for putting this game on their top games list: <%= @game.reason %></p>

<p>Go back to your<a href="/games"> list.</a></p>

<p>Does something look wrong with the game? You can edit it don't worry! <a href="/games/<%= @game.id %>/edit">Edit</a>
</p>

<p>Delete this game from your list.
  <form action="/games/<%= @game.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="submit" value="Delete">
  </form>
</p>

<p>You can also logout if you'd like.
  <form action="/logout" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Logout" name="submit">
  </form>
</p>