
<p>Hello World, this is the game page for <strong><%= @game.name %></strong></p>

<p><strong><%= current_user.username %></strong> thinks that <strong><%= @game.name %></strong> belongs in the <strong><%= @game.genre %></strong> genre.</p>

<p><strong><%= current_user.username %></strong>'s reason for putting this game on their top games list: <%= @game.reason %></p>

<p>Go back to your<a href="/games"> list.</a></p>
<p><a href="/games/<%= @game.id %>/delete">Delete</a> this game from your game.</p>
<form action="/games/<%= @game.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="Delete">
</form>
<p><a href="/logout">Go</a> bye bye.</p>