
<p>This is the game page for <strong><%= @game.title %></strong></p>

<p><%= current_user.username %> classified <%= @game.title %> as <%= @game.genre %> genre.</p>

<p>Reason for putting this game on their list: "<%= @game.reason %>"</p>

<p><a href="/games">Go</a> back to your list.</p>

<p><a href="/games/<%= @game.id %>/edit">Edit</a> this game.</p>

<p><a href="/games/<%= @game.id%>/delete">Delete</a> this game.</p>